# Ignora node_modules em qualquer subpasta
**/node_modules/

# Arquivos de ambiente
.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Build/output do front
painel-ana/build/

# Build/output do backend (se existir)
# backend/build/

# **Comentado** para incluir sua sessão WhatsApp Web
# backend/.wwebjs_auth/
# backend/.wwebjs_cache/
# backend/session/
# backend/tmp/

# Arquivos e pastas do sistema
.DS_Store
