# ignore node_modules
**/node_modules/

# env files
.env
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
*.log

# front build
painel-ana/build/

# backend temp/caches (comentadas para incluir sessão)
# backend/.wwebjs_auth/
# backend/.wwebjs_cache/
# backend/session/
# backend/tmp/

# system
.DS_Store

# WhatsApp session e cache
session/
.webjs_cache/

backend/session/
backend/.webjs_cache/
